<div ng-controller="BottomSheetExample" class="md-padding" flex ng-cloak>
    <h2 class="md-title">Usage</h2>
    <p>Somehow I can access to all the products from this main view.</p>
    <h2 class="md-title">Actions</h2>
    <p>Here I can export, save, share etc.</p>
    <p>Also I have all the tagging possibilities..</p>

    <div ng-controller="mainListCtrl as appCtrl" flex ng-cloak>

        <md-content layout-padding>



            <md-grid-list
                    md-cols-gt-md="12" md-cols-sm="3" md-cols-md="8"
                    md-row-height-gt-md="1:1" md-row-height="4:3"
                    md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px">
                <md-card ng-repeat="card in appCtrl.cards">
                    <md-card-content>
                        <img src="{{card.imageURL}}"
                             class="md-card-image"
                             alt="image caption"
                                ŝ>
                    </md-card-content>
                    <md-card-footer>
                        Card footer
                    </md-card-footer>
                </md-card>

            </md-grid-list>

        </md-content>

    </div>

    <div class="bottom-sheet-demo inset" layout="row" layout-sm="column" layout-align="center" >
        <md-button flex="50" class="md-primary md-raised" ng-click="showListBottomSheet($event)">Export</md-button>
    </div>

    <div ng-if="alert">
        <br/>
        <b layout="row" layout-align="center center" class="md-padding">
            {{alert}}
        </b>
    </div>

</div>